*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #FFFFFF;

}

ul{
    list-style: none;
    display: flex;
    gap: 32px;
    color: #575757;
}

a{
    text-decoration: none;
}

.btn{
    background: #1d4ed8;
    color: #FFFFFF;
    padding: 12px 28px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
}

.btn:hover{
    background: rgb(63, 174, 205);
}

.hero-container{
    background-image: 
    linear-gradient(to right,rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0)),url('./assets/banner.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.hero-content{
    text-align: center;
    display: grid;
    gap: 20px;
    padding: 0 20px;
    margin-top: -20px;
}

.heading-1{
    font-size: 4.8rem;
    font-weight: 800;
    line-height: 1.05;
    margin-bottom: 20px;
    letter-spacing: -2px;
}

.paragraph{
    font-size: 18px;
    margin-bottom: 45px;
    color: #FFFFFF;
}

.hero .btn{
    padding: 12px 32px;
    font-size: 1.1rem;
    text-align: center;
}

.speakers{
    padding: 80px 60px;
    text-align: center;
}

.heading-2{
    font-size: 2.8rem;
    font-weight: 700;
    color: #000102;
    margin-top: 10px;
    margin-bottom: 70px;
}

.speakers-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.card{
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    text-align: left;
}

.card img{
    width: 100%;
    height: 350px;
}

.card h3{
    font-size: 1.45rem;
    margin: 24px 0 8px;
    color: #0D1B2A;
}

.speakers-paragraph{
    color: #2563EB;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1px;
    margin-left: 20px;
}

.job-describe{
    color: #575757;
    padding: 0 24px 28px;
}





