*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

ul{
    list-style: none;
    display: flex;
    gap: 24px;
    color: #575757;
}

a{
    text-decoration: none;
}

.btn{
    background: #1d4ed8;
    color: #FFFFFF;
    padding: 12px;
    border-radius: 9px;
}

.btn:hover{
    background: rgb(63, 174, 205);
}